{% extends 'site/base.html' %}


{{ super() }}

{% block content %}
  <div class="page-section bg-light">
      <div class="container">
          <div class="row">
                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <img class="w-full rounded-xl hover:shadow-lg"
                            src="{{ photo }}"
                            alt="Нет главной фотографии поста">
                        <h1 class="text-xl mb-0 mt-3 font-weight-bold">{{ doctor.family }} {{ doctor.name }} {{ doctor.patronymic }}</h1>

                    </div>

                    <div class="col-md-6 col-lg-4 wow zoomIn">
                        <p class="text-xl mb-0">Клиника: {{ doctor.clinic99 }}</p>
                        <p class="text-xl mb-0">Кабинет: {{ doctor.cabinet }}</p>
                        <p class="text-xl mb-0">Специальность: {{ doctor.specialty }}</p>
                        <p class="text-xl mb-0">Тариф: {{ doctor.admission_cost }} &#x20bd;</p>
                        <p class="text-xl mb-0">Процент отчисления: {{ doctor.deduction_percentage }}</p>
                        <p class="text-xl mb-0">Департамент: {{ doctor.departments }}</p>
                        <p class="text-xl mb-0">Категория: {{ doctor.category }}</p>
                        <p class="text-xl mb-0">Стаж: {{ doctor.stage }}</p>
                    </div>
          </div>
            <div class="w-full wow zoomIn">
                <p class="text-xl mb-0"><span class="font-weight-bold">Специализация:</span> {{ doctor.specialization }}</p>
                <p class="text-xl mb-0"><span class="font-weight-bold">Образование:</span> {{ doctor.education }}</p>
                <p class="text-xl mb-0"><span class="font-weight-bold">Опыт работы:</span> {{ doctor.work_experience }}</p>
                    <button class="btn btn-primary mt-3 wow zoomIn">
                         <a href="{{ url_for('update_doctor', id=doctor.id )}}">Изменить данные доктора</a></button>
                    <button class="btn btn-danger mt-3 wow zoomIn">
                         <a href="{{ url_for('del_doctor', id=doctor.id)}}">Удалить</a></button>
            </div>

    </div>


<div class="page-section bg-light">
    <div class="text-center wow fadeInUp">
        <h1 class="mb-6 text-2xl">Разместить новый прием:</h1>
        <button class="btn btn-primary mt-3 wow zoomIn">
            <a href="{{ url_for('add_doctor_appointment', id=doctor.id)}}">Новый приём</a></button>
    </div>
  </div>
  </div>
<div class="page-section bg-light">
    <div class="container">
        <div class="row">
                {% for appointment in appointments %}
                    <div class="col-sm">
                        <div class="card">
                            {{ appointment }}
                       {% if not appointment.patient %}
                        <a href="{{ url_for('update_appointment', id=appointment.id )}}" class="btn btn-primary mt-3 wow zoomIn">
                                 Записаться</a>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>


    <h1 class="mt-6 font-bold text-2xl">Все отзывы для меня:</h1>
    <div class="information w-full py-6 px-6 lg:p-6">
    {% for comm in comments %}
        <li>{{ comm }}</li>

    {% endfor %}
    </div>
</div>
{% endblock %}