{% extends 'site/base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<button class="btn btn-primary mt-3 wow zoomIn">&times;</button>
!{{ message }}
{% endfor%}
<div class="page-section">

    <div class="text-center wow fadeInUp">
        <h1 class="mb-6 text-2xl">Добавление нового приема врача</h1>
        <form class="main-form" method="post">
            <div class="row mt-2">
        {{ form.csrf_token }}

                <label class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    {{ form.patient_id.label}}</label>
                    {{ form.patient_id }}

                <label class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    {{ form.data.label}}</label>
                    {{ form.data }}

                <label class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    {{ form.time.label}}</label>
                    {{ form.time  }}

            </div>

                <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Сохранить</button>


    </form>
    </div>
</div>
{% endblock content %}