{% extends 'base.html' %}


{{ super() }}

{% block content %}
{% for message in get_flashed_messages() %}
 <!-- Alert Info  -->
  <div class="flex justify-between text-blue-200 shadow-inner rounded p-3 bg-blue-600">
    <p class="self-center">{{ message }}</p>
    <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
  </div>
{% endfor%}
<div class="mt-6 text-2xs text-slate-600 uppercase tracking-wider">
        <div class="text-slate-700 leading-snug">
                <div class="information w-full py-6 px-6 lg:p-6">
                    <h1 class="font-bold text-2xl">{{ clinic.title }}</h1>
                            <p class="font-bold text-xl">{{ clinic.city }}</p>
                            <p class="text-xl">ул. {{ clinic.street }}, {{ clinic.house }}</p>
                            <p class="text-xl">тел.:{{ clinic.phone }}
                    <h2 class="font-bold text-xl">Наши доктора: </h2>
                    <ul>
                    {% for doctor in clinic.doctors %}
                    <li class="text-xl"> {{ doctor.specialty }} : <a href="{{ url_for('doctor_detail', id=doctor.id)}}" class="text-purple-800"> {{ doctor.family }} {{ doctor.name }} {{ doctor.patronymic }} </a> </li>
                    {% endfor %}
                    </ul>
                    <h3 class="font-bold text-xl">Наши кабинеты: </h3>
                    {% for cabinet in clinic.cabinets %}
                    {{ cabinet }},
                    {% endfor %}

             </div>
        </div>
        <button class="mt-6 py-4 px-6 rounded-xl text-white bg-blue-500 hover:bg-blue-700">
            <a href="{{ url_for('update_clinic', id=clinic.id )}}">Изменить данные клиники</a>
        </button>
        <button class="mt-6 py-4 px-6 rounded-xl text-white bg-red-500 hover:bg-red-700">
            <a href="{{ url_for('del_clinic', id=clinic.id)}}">Удалить клинику</a>
        </button>

    <h1 class="mt-6 font-bold text-2xl">Все приемы:</h1>
    <div class="information w-full py-6 px-6 lg:p-6">
    {% for appointment in appointments %}
        <li>{{ appointment }}</li>
    {% endfor %}
    </div>


    <h1 class="mt-6 font-bold text-2xl">Все отзывы написанные мной:</h1>
    <div class="information w-full py-6 px-6 lg:p-6">
    {% for comm in comments %}
        <li>{{ comm }}</li>

    {% endfor %}
    </div>
</div>
{% endblock %}