{% extends 'base.html' %}


{{ super() }}

{% block content %}
<div class="mt-6 text-2xs text-slate-600 uppercase tracking-wider">
        <div class="text-slate-700 leading-snug">
            <h2 class="font-bold">Удалить прием {{ appointment.patient_id }}?</h2>
            <form action="{{ url_for('del_appointment', id=appointment.id) }}" method="post">
                {{ csrf_token }}
                <button type="submit" class="mt-6 py-4 px-6 rounded-xl text-white bg-green-500 hover:bg-green-700">
                     Удалить
                </button>
            </form>

        </div>
</div>

{% endblock %}

