{% extends 'base.html' %}


{{ super() }}

{% block content %}

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
            <div class="products flex items-center flex-wrap">
                {% for doctor in doctors %}
                    {% include 'doctor/partials/doctor_list_item.html' %}
                {% endfor %}
            </div>
</div>


<div class="mt-6 text-2xs text-slate-600 uppercase tracking-wider">
        <div class="text-slate-700 leading-snug">
            <h2 class="font-bold">Все специалисты</h2>
                {% for doctor in doctors %}
                <p><a href="{{ url_for('doctor_detail', id=doctor.id)}}" class="text-purple-800">
                    {{ doctor.family }} - {{ doctor.specialty }}</a></p>
                {% endfor %}
        </div>
</div>
<button class="mt-6 py-4 px-6 rounded-xl text-white bg-green-500 hover:bg-green-700">
    <a href="{{ url_for('add_doctor')}}">Добавить нового доктора</a>
</button>
{% endblock %}