{% extends 'base.html' %}

{% block content %}
{{ super() }}
<form class="navbar-form" method="get">
      <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
          <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
            <input type="text" name="q" value="{{ request.args.get('q', '')}}"
                   class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon3">
            <button
                    class="btn inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                    type="submit">
              Search
            </button>
          </div>
        </div>
      </div>
    </form>
<div class="text-green-500">
{% for spec in specialty %}
    <a
        class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
        href="{{ url_for('get_doctors', title=spec.title )}}"
    > {{ spec.title}}:{{ spec.family}}</a>
{% endfor %}
</div>
<div class="text-green-500">
    <ul class="mt-6 w-88 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    {% for appoint in records %}
        <li class="py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600"><a href="#">Код приема: {{ appoint.id }} | ДатаиВремя: {{ appoint.data_appointment }} | Фамилия врача: {{ appoint.doctor }}  | {% if appoint.patient  %} Фамилия пациент: {{ appoint.patient }} {% else %} свободно {% endif %} | </a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
