{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<button>&times;</button>
!{{ message }}
{% endfor%}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Добавление нового приема врача</h1>
        <form class="space-y-3" method="post">
            <div class="mb-4">
        {{ form.csrf_token }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.patient_id.label}}</label>
                    {{ form.patient_id }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.data.label}}</label>
                    {{ form.data }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.time.label}}</label>
                    {{ form.time  }}

            </div>

                <button type="submit" class="py-4 px-6 rounded-xl text-white bg-green-500 hover:bg-green-700">
                    Сохранить
                </button>

    </form>
    </div>
</div>
{% endblock content %}