{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<button>&times;</button>
!{{ message }}
{% endfor%}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Добавление новой клиники</h1>
        <form class="space-y-3" method="post">
            <div class="mb-4">
        {{ form.csrf_token }}
                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.title.label}}</label>
                    {{ form.title }}

                <label class="block text-grey-darker text-sm font-bold mb-2"> {{ form.city_id.label}}</label>
                {{ form.city_id}}

                <label class="block text-grey-darker text-sm font-bold mb-2">{{ form.street_id.label}}</label>
                {{ form.street_id }}

                <label class="block text-grey-darker text-sm font-bold mb-2">{{ form.house_id.label}}</label>
                {{ form.house_id }}

                <label class="block text-grey-darker text-sm font-bold mb-2">{{ form.phone.label }}</label>
                {{ form.phone }}
            </div>

                <button type="submit" class="py-4 px-6 rounded-xl text-white bg-green-500 hover:bg-green-700">
                    Сохранить
                </button>

    </form>
    </div>
</div>
{% endblock content %}