{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<button>&times;</button>
!{{ message }}
{% endfor%}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Добавление нового доктора</h1>
        <form class="space-y-3" method="post">
            <div class="mb-4">
        {{ form.csrf_token }}
                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.family.label}}</label>
                    {{ form.family }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.name.label}}</label>
                    {{ form.name }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.patronymic.label}}</label>
                    {{ form.patronymic }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.clinica_id.label}}</label>
                    {{ form.clinica_id  }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.cabinet_id.label }}</label>
                    {{ form.cabinet_id }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.specialty_id.label}}</label>
                    {{ form.specialty_id }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.admission_cost.label}}</label>
                    {{ form.admission_cost  }}

                <label class="block text-grey-darker text-sm font-bold mb-2">
                    {{ form.deduction_percentage.label }}</label>
                    {{ form.deduction_percentage }}

            </div>

                <button type="submit" class="py-4 px-6 rounded-xl text-white bg-green-500 hover:bg-green-700">
                    Сохранить
                </button>

    </form>
    </div>
</div>
{% endblock content %}