{% extends 'base.html' %}


{{ super() }}

{% block content %}
<div class="mt-6 text-2xs text-slate-600 uppercase tracking-wider">
        <div class="text-slate-700 leading-snug">
            <h2 class="font-bold">Все пациенты посетившие доктора - {{ title }}</h2>
                {% for patient in patients %}
                <p><a href="{{ url_for('patient_detail', id=patient[0].id)}}" class="text-purple-800">Пациент: {{ patient[0].family }}</a>
                <a href="{{ url_for('doctor_detail', id=patient[1].id)}}" class="text-purple-800">Врач: {{ patient[1].family }}</a>
                <a href="#" class="text-purple-800">Специалист: {{ patient[2].title }}</a>
                    Клиника: {{ patient[3].title }}
                    Дата: {{ patient[4].data }} Время: {{ patient[4].time }}</p>
                {% endfor %}
        </div>
</div>
{% endblock %}