{% extends 'base.html' %}


{{ super() }}

{% block content %}
<div class="mt-6 text-2xs text-slate-600 uppercase tracking-wider">
        <div class="text-slate-700 leading-snug">
                <div class="information w-full py-6 px-6 lg:p-6">
                    <h1 class="font-bold text-2xl">{{ patient.family }}</h1>
                            <p class="font-bold text-xl">{{ patient.name }}</p>
                            <p class="font-bold text-xl">{{ patient.patronymic }}</p>
                            <p class="text-xl">дата рождения: {{ patient.date_of_birth }},
                            <p class="text-xl">тел.:{{ patient.phone }},
                            <p class="text-xl">город: {{ patient.city }},улица: {{ patient.street }},
                                дом: {{ patient.house }}, квартира: {{ patient.apartment }}</p>
                            <p class="text-xl">Полных лет: {{ patient.get_age }}
             </div>
        </div>

    <button class="mt-6 py-4 px-6 rounded-xl text-white bg-blue-500 hover:bg-blue-700">
        <a href="{{ url_for('update_patient', id=patient.id )}}">Изменить данные пациента</a></button>
    <button class="mt-6 py-4 px-6 rounded-xl text-white bg-red-500 hover:bg-red-700">
        <a href="{{ url_for('del_patient', id=patient.id)}}">Удалить</a></button>


    <h1 class="mt-6 font-bold text-2xl">Все приемы:</h1>
    <div class="information w-full py-6 px-6 lg:p-6">
    {% for appointment in appointments %}
        <li>{{ appointment }}</li>
    {% endfor %}
    </div>


    <h1 class="mt-6 font-bold text-2xl">Все отзывы написанные мной:</h1>
    <div class="information w-full py-6 px-6 lg:p-6">
    {% for comm in comments %}
        <li>{{ comm }}</li>

    {% endfor %}
    </div>
</div>
{% endblock %}