{% extends 'base.html' %}


{{ super() }}

{% block content %}
<div class="mt-6 text-2xs text-slate-600 uppercase tracking-wider">
        <div class="text-slate-700 leading-snug">
            <h2 class="mb-6 font-bold">Все специалисты</h2>
                {% for special in specials %}
                <a href="{{ url_for('special_detail', id=special.id)}}"
                      class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                    {{ special.title }}</a>
                {% endfor %}
        </div>
</div>
<button class="mt-6 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 text-gray-900 bg-blue-500 hover:bg-blue-700">
    <a href="{{ url_for('add_appointment')}}">Добавить новую специальность</a>
</button>
{% endblock %}