<div class="item">
    <div class="card-doctor">
         <div class="header">
              {% if doctor.photo %}
                    <img class="w-full rounded-xl hover:shadow-lg" src="{{ url_for('static', filename='images/' + doctor.photo.path) }}">
                  {% else %}
                  <img class="w-full rounded-xl hover:shadow-lg" src="https://via.placeholder.com/240x240x.jpg" alt="no photo">
                  {% endif %}
              <div class="meta">
                <a href="#"><span class="mai-call"></span></a>
                <a href="#"><span class="mai-logo-whatsapp"></span></a>
              </div>
         </div>
            <div class="body">
                <p class="text-xl mb-0"><a href="{{ url_for('doctor_detail', id=doctor.id)}}">{{ doctor.family }} {{ doctor.name }}</a></p>
                <span class="text-sm text-grey">{{ doctor.specialty }}</span>
            </div>
    </div>
</div>